.NavText {
  display: flex;
  vertical-align: center;
  font-family: "Livvic", sans-serif;
  font-size: 20px;
  margin-left: 10px;
  letter-spacing: 0.1em;
  text-shadow: #e0e0e0 1px 1px 0;
}

.NavText u {
  text-decoration-color: slategray;
  text-underline-position: under;
}

.NavBanner {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  box-sizing: border-box;
  font-size: 45px;
  margin-left: 10px;
  vertical-align: center;
  color: #ffffff;
  text-shadow: 4px 3px 0 #7a7a7a;
}
