.Banner {
  position: relative;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  max-width: 100%;
  position: relative;
  height: 45vh;
  max-height: 100%;
  background-size: 100% 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
}

.NoPadding {
  padding: 0px;
}

@media (min-width: 768px) {
  .Banner {
    box-shadow: 0 0 8px 8px white inset;
  }
  .NoPadding {
    padding-left: 7px;
    padding-right: 7px;
  }
}
