.Footer {
  position: absolute;
  display: inline-block;
  box-shadow: inset 0px 7px 3px -3px white;
  background-color: silver;
  margin-top: 200px;
  height: 60px;
  width: 100%;
  text-align: center;
  bottom: 0px;
  left: 0px;
}

.FooterText {
  position: absolute;
  top: 50%;
  left: 50%;
  text-shadow: #e0e0e0 1px 1px 0;
  font-weight: bold;
  transform: translateX(-50%) translateY(-50%);
}
