.PostSnapshot {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  padding: 0px !important;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.PostSnapshot:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

  transform: scale(1.1, 1.1);
}

.PostBody {
  position: relative;
  height: 200px;
  width: 100%;
  background-size: 100% 100%;
  background-color: white;
  order: 1;
}

.PostTitle {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.Content {
  padding: 15px;
  order: 2;
}

.CategoryContainer {
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px;
}

.Category {
  color: gold;
  font-weight: bolder;
  font-size: 20px;
}

.DateName {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .PostSnapshot {
    margin-left: 25px;
  }
  .PostWidth {
    width: 30%;
  }
}
