.App-header {
  background-color: whitesmoke;
}

/* .App-header {
  background-color: #5b5bff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
